<div class="jumbotron center">
	<h1><center>Welcome to my app!</center></h1>
	<% if user_signed_in? %>
		<center># do something</center>
	<% else %>
		<p>
		<center>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %> 
			<%= link_to "Sign In", new_user_session_path, class: "btn btn-success btn-lg" %>
		</center>
		</p>
	<% end %>
</div>

